# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C#

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. MatPlotLib
3. SciKit

Objectives:
- Build a table
- Perform basic arithmetic
- Use markdown cells

|Data Science Tools|
|------------------|
|Apache Airflow    |
|SQL               |
|MongoDB           |

### Below are a few examples of evaluating arithmetic expressions in Python:
1+1
1/1
2*2

In [3]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# his will convert 200 minutes to hours by diving by 60
200/50

4.0

## Author:
   Brennon Wilcox